*~
*.hi
*.o
Driver
GenerateGlobals
GroupOutput
TestParseAssignI
*.fzn
*.ozn
*.p_hi
*.p_o
/dist/
.cabal-sandbox/
*.dyn_hi
*.dyn_o
*.ghcio
*.ghcihi
temp*.mzn
mzn2fzn-output*
output*
output
error*
.stack-work
bundles/
